html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  appearance: none;
  background-color: #63C5E4;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "azo-sans-web", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: #4f9eb6;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover {
      background-color: #63C5E4; }

fieldset {
  background-color: #fcfcfc;
  border: 1px solid #F4F4F4;
  margin: 0 0 0.75em;
  padding: 1.5em;
  background-color: #ffffff; }

input,
label,
select {
  display: block;
  font-family: "azo-sans-web", sans-serif;
  font-size: 1em; }

label {
  font-weight: 600;
  margin-bottom: 0.375em; }
  label.required::after {
    content: "*"; }
  label abbr {
    display: none; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select[multiple=multiple] {
  background-color: #fff;
  border: 1px solid #F4F4F4;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "azo-sans-web", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
  select[multiple=multiple]:hover {
    border-color: #c3c3c3; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
  select[multiple=multiple]:focus {
    border-color: #63C5E4;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(77, 189, 224, 0.7);
    outline: none; }
  input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled,
  select[multiple=multiple]:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover,
    select[multiple=multiple]:disabled:hover {
      border: 1px solid #F4F4F4; }

textarea {
  resize: vertical; }

input[type="search"] {
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }
  input[type="checkbox"] + label,
  input[type="radio"] + label {
    display: inline-block; }

input[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

table {
  border-collapse: collapse;
  font-feature-settings: "kern", "liga", "tnum";
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #F4F4F4;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  color: #333;
  font-family: "azo-sans-web", sans-serif;
  font-feature-settings: "kern", "liga", "pnum";
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "azo-sans-web", sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #63C5E4;
  font-weight: 400;
  font-family: "azo-sans-web", sans-serif;
  text-decoration: none;
  transition: color 150ms ease; }
  a:active, a:focus, a:hover {
    color: #4a94ab; }

hr {
  border-bottom: 1px solid #F4F4F4;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

/*! normalize.css 2012-02-07T12:37 UTC - http://github.com/necolas/normalize.css */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }

a:hover, a:active {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

h2 {
  font-size: 1.5em;
  margin: .83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: .83em;
  margin: 1.67em 0; }

h6 {
  font-size: .75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

p, pre {
  margin: 1em 0; }

pre, code, kbd, samp {
  font-family: monospace,serif;
  _font-family: 'courier new',monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 75%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

dl, menu, ol, ul {
  margin: 1em 0; }

dd {
  margin: 0 0 0 40px; }

menu, ol, ul {
  padding: 0 0 0 40px; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.hero {
  background-color: #63C5E4;
  background-position: top;
  background-size: cover;
  padding-bottom: 0; }
  .hero .hero-inner {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    margin: auto;
    padding: 6em .75em 4em .75em;
    text-align: center; }
    .hero .hero-inner::after {
      clear: both;
      content: "";
      display: table; }
    .hero .hero-inner::after {
      clear: both;
      content: "";
      display: table; }
    @media screen and (min-width: 53.75em) {
      .hero .hero-inner {
        padding: 6em 0 4em 0; } }
    .hero .hero-inner .hero-copy {
      text-align: center; }
      .hero .hero-inner .hero-copy h1 {
        font-size: 3.2em;
        line-height: 1em;
        margin-bottom: 1em;
        margin-top: .1em;
        color: #298AB1; }
        @media screen and (min-width: 53.75em) {
          .hero .hero-inner .hero-copy h1 {
            font-size: 5.5em; } }
      .hero .hero-inner .hero-copy h5 {
        font-weight: 600;
        line-height: 1em;
        margin: 0 auto;
        color: #D33D3D; }
        @media screen and (min-width: 53.75em) {
          .hero .hero-inner .hero-copy h5 {
            font-size: 1.5em;
            max-width: 40%;
            color: #D33D3D; } }
    .hero .hero-inner .button {
      background-color: #298AB1;
      border-radius: 3px;
      border: 0;
      color: white;
      display: inline-block;
      font-size: inherit;
      font-weight: bold;
      padding: 7px 18px;
      text-decoration: none;
      background-clip: padding-box;
      padding: .8em 2em;
      border-radius: 3px;
      background-color: #298AB1;
      color: #ffffff;
      clear: both;
      font-weight: 400; }
      .hero .hero-inner .button:hover:not(:disabled) {
        background-color: #299ccb;
        cursor: pointer; }
      .hero .hero-inner .button:active:not(:disabled), .hero .hero-inner .button:focus:not(:disabled) {
        background-color: #287898;
        cursor: pointer; }
      .hero .hero-inner .button:disabled {
        cursor: not-allowed;
        opacity: 0.5; }
      .hero .hero-inner .button:hover {
        background-color: #63C5E4;
        color: #ffffff; }

.main {
  background-color: #ffffff;
  background-position: top;
  background-size: cover;
  padding-bottom: 0; }
  .main .main-inner {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    color: #333;
    margin: auto;
    padding: 9em 2em 5em 2em;
    text-align: center; }
    .main .main-inner::after {
      clear: both;
      content: "";
      display: table; }
    .main .main-inner::after {
      clear: both;
      content: "";
      display: table; }
    .main .main-inner .main-container {
      max-width: 68em;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1em; }
      .main .main-inner .main-container::after {
        clear: both;
        content: "";
        display: table; }
      .main .main-inner .main-container::after {
        clear: both;
        content: "";
        display: table; }
      .main .main-inner .main-container .col-6-1 {
        float: left;
        display: block;
        margin-right: 4.65729%;
        width: 47.67135%;
        margin-top: 2em;
        margin-bottom: 0; }
        .main .main-inner .main-container .col-6-1:last-child {
          margin-right: 0; }
        @media screen and (max-width: 640px) {
          .main .main-inner .main-container .col-6-1 {
            float: left;
            display: block;
            margin-right: 4.65729%;
            width: 100%; }
            .main .main-inner .main-container .col-6-1:last-child {
              margin-right: 0; } }
      .main .main-inner .main-container .col-6-2 {
        float: left;
        display: block;
        margin-right: 4.65729%;
        width: 47.67135%;
        margin-right: 0;
        margin-top: 2em;
        margin-bottom: 0; }
        .main .main-inner .main-container .col-6-2:last-child {
          margin-right: 0; }
        @media screen and (max-width: 640px) {
          .main .main-inner .main-container .col-6-2 {
            float: left;
            display: block;
            margin-right: 4.65729%;
            width: 100%; }
            .main .main-inner .main-container .col-6-2:last-child {
              margin-right: 0; } }
      .main .main-inner .main-container .col-6-3 {
        float: left;
        display: block;
        margin-right: 4.65729%;
        width: 47.67135%;
        margin-top: 2em;
        margin-bottom: 0; }
        .main .main-inner .main-container .col-6-3:last-child {
          margin-right: 0; }
        @media screen and (max-width: 640px) {
          .main .main-inner .main-container .col-6-3 {
            float: left;
            display: block;
            margin-right: 4.65729%;
            width: 100%; }
            .main .main-inner .main-container .col-6-3:last-child {
              margin-right: 0; } }
      .main .main-inner .main-container .col-6-4 {
        float: left;
        display: block;
        margin-right: 4.65729%;
        width: 47.67135%;
        margin-right: 0;
        margin-top: 2em;
        margin-bottom: 0; }
        .main .main-inner .main-container .col-6-4:last-child {
          margin-right: 0; }
        @media screen and (max-width: 640px) {
          .main .main-inner .main-container .col-6-4 {
            float: left;
            display: block;
            margin-right: 4.65729%;
            width: 100%; }
            .main .main-inner .main-container .col-6-4:last-child {
              margin-right: 0; } }
      .main .main-inner .main-container .col-6-5 {
        float: left;
        display: block;
        margin-right: 4.65729%;
        width: 47.67135%;
        margin-top: 2em;
        margin-bottom: 0; }
        .main .main-inner .main-container .col-6-5:last-child {
          margin-right: 0; }
        @media screen and (max-width: 640px) {
          .main .main-inner .main-container .col-6-5 {
            float: left;
            display: block;
            margin-right: 4.65729%;
            width: 100%; }
            .main .main-inner .main-container .col-6-5:last-child {
              margin-right: 0; } }
      .main .main-inner .main-container .col-6-6 {
        float: left;
        display: block;
        margin-right: 4.65729%;
        width: 47.67135%;
        margin-right: 0;
        margin-top: 2em;
        margin-bottom: 0; }
        .main .main-inner .main-container .col-6-6:last-child {
          margin-right: 0; }
        @media screen and (max-width: 640px) {
          .main .main-inner .main-container .col-6-6 {
            float: left;
            display: block;
            margin-right: 4.65729%;
            width: 100%; }
            .main .main-inner .main-container .col-6-6:last-child {
              margin-right: 0; } }
  .main .main-copy h2 {
    font-size: 3em;
    margin-top: -.2em;
    text-align: center; }
    @media screen and (min-width: 53.75em) {
      .main .main-copy h2 {
        font-size: 4em; } }
  .main .main-copy h4 {
    font-size: 1.8em;
    margin-bottom: 1em;
    margin-top: .1em;
    text-align: left; }
    @media screen and (min-width: 53.75em) {
      .main .main-copy h4 {
        font-size: 2em; } }
  .main .main-copy h4.gray {
    font-size: 1.5em;
    margin-bottom: 1.5em;
    margin-top: .1em;
    text-align: center;
    color: #9B9B9B; }
    @media screen and (min-width: 53.75em) {
      .main .main-copy h4.gray {
        font-size: 1.5em; } }
  .main .main-copy p.main {
    margin-top: -1.8em;
    margin-bottom: 3em;
    line-height: 2em; }
  .main .main-copy p.main-left {
    margin-top: -1.8em;
    margin-bottom: 3em;
    line-height: 2em;
    text-align: left; }
  .main .main-copy p.description {
    clear: both;
    margin-top: -1.8em;
    margin-bottom: 3em;
    line-height: 2em;
    text-align: left; }
  .main .button {
    background-color: #63C5E4;
    border-radius: 3px;
    border: 0;
    color: #333333;
    display: inline-block;
    font-size: inherit;
    font-weight: bold;
    padding: 7px 18px;
    text-decoration: none;
    background-clip: padding-box;
    padding: .8em 2em;
    border-radius: 3px;
    background-color: #63C5E4;
    color: #ffffff;
    clear: both;
    font-weight: 400; }
    .main .button:hover:not(:disabled) {
      background-color: #76cfeb;
      cursor: pointer; }
    .main .button:active:not(:disabled), .main .button:focus:not(:disabled) {
      background-color: #51bbdc;
      cursor: pointer; }
    .main .button:disabled {
      cursor: not-allowed;
      opacity: 0.5; }
    .main .button:hover {
      background-color: #63C5E4;
      color: #298AB1; }

.main-gray {
  background-color: #F4F4F4;
  background-position: top;
  background-size: cover;
  padding-bottom: 0; }
  .main-gray .main-gray-inner {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    color: #333;
    margin: auto;
    padding: 9em 2em 5em 2em;
    text-align: center; }
    .main-gray .main-gray-inner::after {
      clear: both;
      content: "";
      display: table; }
    .main-gray .main-gray-inner::after {
      clear: both;
      content: "";
      display: table; }
    .main-gray .main-gray-inner .main-gray-container {
      max-width: 68em;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 4em; }
      .main-gray .main-gray-inner .main-gray-container::after {
        clear: both;
        content: "";
        display: table; }
      .main-gray .main-gray-inner .main-gray-container::after {
        clear: both;
        content: "";
        display: table; }
      .main-gray .main-gray-inner .main-gray-container .col-6-1 {
        float: left;
        display: block;
        margin-right: 4.65729%;
        width: 47.67135%;
        margin-top: 2em;
        margin-bottom: 0; }
        .main-gray .main-gray-inner .main-gray-container .col-6-1:last-child {
          margin-right: 0; }
        @media screen and (max-width: 640px) {
          .main-gray .main-gray-inner .main-gray-container .col-6-1 {
            float: left;
            display: block;
            margin-right: 4.65729%;
            width: 100%; }
            .main-gray .main-gray-inner .main-gray-container .col-6-1:last-child {
              margin-right: 0; } }
      .main-gray .main-gray-inner .main-gray-container .col-6-2 {
        float: left;
        display: block;
        margin-right: 4.65729%;
        width: 47.67135%;
        margin-right: 0;
        margin-top: 2em;
        margin-bottom: 0; }
        .main-gray .main-gray-inner .main-gray-container .col-6-2:last-child {
          margin-right: 0; }
        @media screen and (max-width: 640px) {
          .main-gray .main-gray-inner .main-gray-container .col-6-2 {
            float: left;
            display: block;
            margin-right: 4.65729%;
            width: 100%; }
            .main-gray .main-gray-inner .main-gray-container .col-6-2:last-child {
              margin-right: 0; } }
      .main-gray .main-gray-inner .main-gray-container .col-6-3 {
        float: left;
        display: block;
        margin-right: 4.65729%;
        width: 47.67135%;
        margin-top: 2em;
        margin-bottom: 0; }
        .main-gray .main-gray-inner .main-gray-container .col-6-3:last-child {
          margin-right: 0; }
        @media screen and (max-width: 640px) {
          .main-gray .main-gray-inner .main-gray-container .col-6-3 {
            float: left;
            display: block;
            margin-right: 4.65729%;
            width: 100%; }
            .main-gray .main-gray-inner .main-gray-container .col-6-3:last-child {
              margin-right: 0; } }
      .main-gray .main-gray-inner .main-gray-container .col-6-4 {
        float: left;
        display: block;
        margin-right: 4.65729%;
        width: 47.67135%;
        margin-right: 0;
        margin-top: 2em;
        margin-bottom: 0; }
        .main-gray .main-gray-inner .main-gray-container .col-6-4:last-child {
          margin-right: 0; }
        @media screen and (max-width: 640px) {
          .main-gray .main-gray-inner .main-gray-container .col-6-4 {
            float: left;
            display: block;
            margin-right: 4.65729%;
            width: 100%; }
            .main-gray .main-gray-inner .main-gray-container .col-6-4:last-child {
              margin-right: 0; } }
  .main-gray .main-gray-copy h2 {
    font-size: 3em;
    margin-top: -.2em;
    text-align: center; }
    @media screen and (min-width: 53.75em) {
      .main-gray .main-gray-copy h2 {
        font-size: 4em; } }
  .main-gray .main-gray-copy h4 {
    font-size: 1em;
    margin-bottom: 1em;
    margin-top: .1em;
    text-align: center;
    color: #9B9B9B; }
    @media screen and (min-width: 53.75em) {
      .main-gray .main-gray-copy h4 {
        font-size: 1.5em; } }
  .main-gray .main-gray-copy p.main-gray {
    margin-top: -1.8em;
    margin-bottom: 3em;
    line-height: 2em; }
  .main-gray .main-gray-copy p.main-left {
    margin-top: -1.8em;
    margin-bottom: 3em;
    line-height: 2em;
    text-align: left; }
  .main-gray .main-gray-copy p.description {
    clear: both;
    margin-top: -1.8em;
    margin-bottom: 3em;
    line-height: 2em;
    text-align: left; }
  .main-gray .main-gray-copy .img {
    height: 100px;
    width: 100px; }
  .main-gray .button {
    background-color: #63C5E4;
    border-radius: 3px;
    border: 0;
    color: #333333;
    display: inline-block;
    font-size: inherit;
    font-weight: bold;
    padding: 7px 18px;
    text-decoration: none;
    background-clip: padding-box;
    padding: .8em 2em;
    border-radius: 3px;
    background-color: #63C5E4;
    color: #ffffff;
    clear: both;
    font-weight: 400; }
    .main-gray .button:hover:not(:disabled) {
      background-color: #76cfeb;
      cursor: pointer; }
    .main-gray .button:active:not(:disabled), .main-gray .button:focus:not(:disabled) {
      background-color: #51bbdc;
      cursor: pointer; }
    .main-gray .button:disabled {
      cursor: not-allowed;
      opacity: 0.5; }
    .main-gray .button:hover {
      background-color: #63C5E4;
      color: #298AB1; }
  .main-gray hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px; }
  .main-gray hr.column {
    float: left;
    clear: both;
    display: block;
    margin-top: -1em;
    margin-bottom: 2em;
    border: solid 2px;
    width: 100%; }

/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-family: "arial", sans-serif;
  color: #2b3e51;
  background-color: #ffffff; }

a {
  color: #2c97de;
  text-decoration: none; }

/* -------------------------------- 

Form

-------------------------------- */
.cd-form {
  width: 90%;
  max-width: 600px;
  margin: 4em auto; }

.cd-form::after {
  clear: both;
  content: "";
  display: table; }

.cd-form fieldset {
  margin: 24px 0; }

.cd-form legend {
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-size: 2rem;
  border-bottom: 1px solid #ecf0f1; }

.cd-form div {
  /* form element wrapper */
  position: relative;
  margin: 20px 0; }

.cd-form h4, .cd-form .cd-label {
  font-size: 1.3rem;
  color: #94aab0;
  margin-bottom: 10px; }

.cd-form .cd-label {
  display: block; }

.cd-form input, .cd-form textarea, .cd-form select, .cd-form label {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  color: #2b3e51; }

.cd-form input[type="text"],
.cd-form input[type="email"],
.cd-form textarea,
.cd-form select,
.cd-form legend {
  display: block;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

.cd-form input[type="text"],
.cd-form input[type="email"],
.cd-form textarea,
.cd-form select {
  /* general style for input elements */
  padding: 12px;
  border: 1px solid #cfd9db;
  background-color: #ffffff;
  border-radius: .25em;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08); }

.cd-form input[type="text"]:focus,
.cd-form input[type="email"]:focus,
.cd-form textarea:focus,
.cd-form select:focus {
  outline: none;
  border-color: #2c97de;
  box-shadow: 0 0 5px rgba(44, 151, 222, 0.2); }

.cd-form .cd-select {
  /* select element wapper */
  position: relative; }

.cd-form .cd-select::after {
  /* arrow icon for select element */
  content: '';
  position: absolute;
  z-index: 1;
  right: 16px;
  top: 50%;
  margin-top: -8px;
  display: block;
  width: 16px;
  height: 16px;
  background: url("../img/cd-icon-arrow.svg") no-repeat center center;
  pointer-events: none; }

.cd-form select {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  cursor: pointer; }

.cd-form select::-ms-expand {
  display: none; }

.cd-form .cd-form-list {
  margin-top: 16px; }

.cd-form .cd-form-list::after {
  clear: both;
  content: "";
  display: table; }

.cd-form .cd-form-list li {
  /* wrapper for radio and checkbox input types */
  display: inline-block;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0 26px 16px 0;
  float: left; }

.cd-form input[type=radio],
.cd-form input[type=checkbox] {
  /* hide original check and radio buttons */
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0;
  padding: 0;
  opacity: 0;
  z-index: 2; }

.cd-form input[type="radio"] + label,
.cd-form input[type="checkbox"] + label {
  padding-left: 24px; }

.cd-form input[type="radio"] + label::before,
.cd-form input[type="radio"] + label::after,
.cd-form input[type="checkbox"] + label::before,
.cd-form input[type="checkbox"] + label::after {
  /* custom radio and check boxes */
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -8px;
  width: 16px;
  height: 16px; }

.cd-form input[type="radio"] + label::before,
.cd-form input[type="checkbox"] + label::before {
  border: 1px solid #cfd9db;
  background: #ffffff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08); }

.cd-form input[type="radio"] + label::before,
.cd-form input[type="radio"] + label::after {
  border-radius: 50%; }

.cd-form input[type="checkbox"] + label::before,
.cd-form input[type="checkbox"] + label::after {
  border-radius: .25em; }

.cd-form input[type="radio"] + label::after,
.cd-form input[type="checkbox"] + label::after {
  background-color: #2c97de;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 0 0 5px rgba(44, 151, 222, 0.4);
  display: none; }

.cd-form input[type="radio"] + label::after {
  /* custom image for radio button */
  background-image: url("../img/cd-icon-radio.svg"); }

.cd-form input[type="checkbox"] + label::after {
  /* custom image for checkbox */
  background-image: url("../img/cd-icon-check.svg"); }

.cd-form input[type="radio"]:focus + label::before,
.cd-form input[type="checkbox"]:focus + label::before {
  /* add focus effect for radio and check buttons */
  box-shadow: 0 0 5px rgba(44, 151, 222, 0.6); }

.cd-form input[type="radio"]:checked + label::after,
.cd-form input[type="checkbox"]:checked + label::after {
  display: block; }

.cd-form input[type="radio"]:checked + label::before,
.cd-form input[type="radio"]:checked + label::after,
.cd-form input[type="checkbox"]:checked + label::before,
.cd-form input[type="checkbox"]:checked + label::after {
  -webkit-animation: cd-bounce 0.3s;
  -moz-animation: cd-bounce 0.3s;
  animation: cd-bounce 0.3s; }

.cd-form textarea {
  min-height: 200px;
  resize: vertical;
  overflow: auto; }

.cd-form input[type="submit"] {
  /* button style */
  border: none;
  background: #2c97de;
  border-radius: .25em;
  padding: 16px 20px;
  color: #ffffff;
  font-weight: bold;
  float: right;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

.no-touch .cd-form input[type="submit"]:hover {
  background: #42a2e1; }

.cd-form input[type="submit"]:focus {
  outline: none;
  background: #2b3e51; }

.cd-form input[type="submit"]:active {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9); }

.cd-form [required] {
  background: url("../img/cd-required.svg") no-repeat top right; }

.cd-form .error-message p {
  background: #e94b35;
  color: #ffffff;
  font-size: 1.4rem;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: .25em;
  padding: 16px; }

.cd-form .error {
  border-color: #e94b35 !important; }

@media only screen and (min-width: 600px) {
  .cd-form div {
    /* form element wrapper */
    margin: 32px 0; }

  .cd-form legend + div {
    /* reduce margin-top for first form element after the legend */
    margin-top: 20px; }

  .cd-form h4, .cd-form .cd-label {
    font-size: 1.4rem;
    margin-bottom: 10px; }

  .cd-form input[type="text"],
  .cd-form input[type="email"],
  .cd-form textarea,
  .cd-form select {
    padding: 16px; } }
@-webkit-keyframes cd-bounce {
  0%, 100% {
    -webkit-transform: scale(1); }
  50% {
    -webkit-transform: scale(0.8); } }
@-moz-keyframes cd-bounce {
  0%, 100% {
    -moz-transform: scale(1); }
  50% {
    -moz-transform: scale(0.8); } }
@keyframes cd-bounce {
  0%, 100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8); } }
/* -------------------------------- 

Custom icons

-------------------------------- */
.cd-form .icon input, .cd-form .icon select, .cd-form .icon textarea {
  padding-left: 54px !important; }

.cd-form .user {
  background: url("../img/cd-icon-user.svg") no-repeat 16px center; }

.cd-form [required].user {
  background: url("../img/cd-icon-user.svg") no-repeat 16px center, url("../img/cd-required.svg") no-repeat top right; }

.cd-form .company {
  background: url("../img/cd-icon-company.svg") no-repeat 16px center; }

.cd-form [required].company {
  background: url("../img/cd-icon-company.svg") no-repeat 16px center, url("../img/cd-required.svg") no-repeat top right; }

.cd-form .email {
  background: url("../img/cd-icon-email.svg") no-repeat 16px center; }

.cd-form [required].email {
  background: url("../img/cd-icon-email.svg") no-repeat 16px center, url("../img/cd-required.svg") no-repeat top right; }

.cd-form .budget {
  background: url("../img/cd-icon-budget.svg") no-repeat 16px center; }

.cd-form .message {
  background: url("../img/cd-icon-message.svg") no-repeat 16px 16px; }

.cd-form [required].message {
  background: url("../img/cd-icon-message.svg") no-repeat 16px 16px, url("../img/cd-required.svg") no-repeat top right; }

/* -------------------------------- 

FLoating labels 

-------------------------------- */
.js .floating-labels div {
  margin: 28px 0; }

.js .floating-labels .cd-label {
  position: absolute;
  top: 16px;
  left: 16px;
  font-size: 1.6rem;
  cursor: text;
  -webkit-transition: top 0.2s, left 0.2s, font-size 0.2s;
  -moz-transition: top 0.2s, left 0.2s, font-size 0.2s;
  transition: top 0.2s, left 0.2s, font-size 0.2s; }

.js .floating-labels .icon .cd-label {
  left: 56px; }

.js .floating-labels .cd-label.float {
  /* move label out the input field */
  font-size: 1.2rem;
  top: -16px;
  left: 0 !important; }

@media only screen and (min-width: 600px) {
  .js .floating-labels legend + div {
    /* reduce margin-top for first form element after the legend */
    margin-top: 16px; }

  .js .floating-labels .cd-label {
    top: 20px; } }
.footer {
  background: #298AB1;
  padding: 3em;
  width: 100%; }
  .footer .footer-container {
    padding: 2em 1em 1em 1em; }
    .footer .footer-container::after {
      clear: both;
      content: "";
      display: table; }
    @media screen and (min-width: 53.75em) {
      .footer .footer-container {
        padding: 4em 1em 1em 1em; } }
  .footer ul {
    clear: both;
    text-align: center;
    margin-left: 2.5em; }
  .footer li {
    display: inline;
    list-style-type: none;
    padding-right: 4em;
    float: none;
    font-size: 1.5em; }
  .footer li a {
    color: #ffffff; }
    .footer li a:hover {
      text-decoration: underline; }
  .footer a.footer {
    color: #ffffff; }
    .footer a.footer:hover {
      text-decoration: underline; }
  .footer a.default {
    color: #ffffff; }
    .footer a.default:hover {
      text-decoration: underline; }
  .footer hr {
    border: 1px solid #ffffff;
    margin: 3em auto 4em auto;
    width: 8em; }
  .footer h3 {
    color: #ffffff;
    font-size: 1.5em;
    line-height: 1.5em;
    margin: auto;
    text-align: center;
    font-weight: 400; }
  .footer p.copyright {
    color: #63C5E4;
    font-size: 1em;
    line-height: 1.5em;
    margin: 2em auto 0em auto;
    max-width: 35em;
    text-align: center; }

/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-family: "Soleil", sans-serif;
  color: #63C5E4;
  background-color: #f2f2f2; }

a {
  color: #298AB1;
  text-decoration: none; }

/* -------------------------------- 

Main Components 

-------------------------------- */
header {
  position: fixed;
  z-index: 3;
  height: 60px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #63C5E4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s; }
  header.nav-is-visible {
    -webkit-transform: translateX(-260px);
    -moz-transform: translateX(-260px);
    -ms-transform: translateX(-260px);
    -o-transform: translateX(-260px);
    transform: translateX(-260px); }
  header::before {
    /* never visible - this is used in jQuery to check the current MQ */
    display: none;
    content: 'mobile'; }
  @media only screen and (min-width: 1024px) {
    header {
      height: 110px; }
      header.nav-is-visible {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0); }
      header::before {
        content: 'desktop'; } }

.cd-logo {
  display: inline-block;
  height: 100%;
  margin-left: 15px;
  /* remove jump on iOS devices - when we fire the navigation */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }
  .cd-logo img {
    display: block;
    max-width: 100%;
    margin-top: 14px; }
  @media only screen and (min-width: 1024px) {
    .cd-logo {
      position: absolute;
      z-index: 2;
      margin-left: 5%; }
      .cd-logo img {
        margin-top: 29px; } }

.cd-nav-trigger {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50px;
  /* hide text */
  overflow: hidden;
  white-space: nowrap;
  color: transparent; }
  .cd-nav-trigger span {
    /* hamburger icon created in CSS */
    position: absolute;
    height: 2px;
    width: 20px;
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -10px;
    -webkit-transition: background-color 0.3s 0.3s;
    -moz-transition: background-color 0.3s 0.3s;
    transition: background-color 0.3s 0.3s;
    background-color: #ffffff; }
    .cd-nav-trigger span::before, .cd-nav-trigger span::after {
      /* upper and lower lines of the menu icon */
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #ffffff;
      /* Force Hardware Acceleration */
      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -o-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transition: -webkit-transform 0.3s 0.3s;
      -moz-transition: -moz-transform 0.3s 0.3s;
      transition: transform 0.3s 0.3s; }
    .cd-nav-trigger span::before {
      -webkit-transform: translateY(-6px);
      -moz-transform: translateY(-6px);
      -ms-transform: translateY(-6px);
      -o-transform: translateY(-6px);
      transform: translateY(-6px); }
    .cd-nav-trigger span::after {
      -webkit-transform: translateY(6px);
      -moz-transform: translateY(6px);
      -ms-transform: translateY(6px);
      -o-transform: translateY(6px);
      transform: translateY(6px); }
  .nav-is-visible .cd-nav-trigger span {
    background-color: rgba(255, 255, 255, 0); }
    .nav-is-visible .cd-nav-trigger span::before {
      -webkit-transform: translateY(0) rotate(-45deg);
      -moz-transform: translateY(0) rotate(-45deg);
      -ms-transform: translateY(0) rotate(-45deg);
      -o-transform: translateY(0) rotate(-45deg);
      transform: translateY(0) rotate(-45deg); }
    .nav-is-visible .cd-nav-trigger span::after {
      -webkit-transform: translateY(0) rotate(45deg);
      -moz-transform: translateY(0) rotate(45deg);
      -ms-transform: translateY(0) rotate(45deg);
      -o-transform: translateY(0) rotate(45deg);
      transform: translateY(0) rotate(45deg); }
  @media only screen and (min-width: 1024px) {
    .cd-nav-trigger {
      display: none; } }

.cd-main-nav {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  width: 260px;
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  visibility: hidden;
  background: #38b5dc;
  -webkit-transition: visibility 0s 0.3s;
  -moz-transition: visibility 0s 0.3s;
  transition: visibility 0s 0.3s; }
  .cd-main-nav a {
    display: block;
    font-size: 1.8rem;
    padding: .9em 2em .9em 1em;
    border-bottom: 1px solid #63C5E4;
    color: #ffffff;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s; }
  .cd-main-nav li ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform: translateX(260px);
    -moz-transform: translateX(260px);
    -ms-transform: translateX(260px);
    -o-transform: translateX(260px);
    transform: translateX(260px); }
  .cd-main-nav.nav-is-visible {
    visibility: visible;
    -webkit-transition: visibility 0s 0s;
    -moz-transition: visibility 0s 0s;
    transition: visibility 0s 0s; }
  .cd-main-nav.moves-out > li > a {
    /* push the navigation items to the left - and lower down opacity - when secondary nav slides in */
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0; }
  .cd-main-nav.moves-out > li > ul {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }
  .cd-main-nav .cd-subnav-trigger, .cd-main-nav .go-back a {
    position: relative; }
    .cd-main-nav .cd-subnav-trigger::before, .cd-main-nav .cd-subnav-trigger::after, .cd-main-nav .go-back a::before, .cd-main-nav .go-back a::after {
      /* arrow icon in CSS */
      content: '';
      position: absolute;
      top: 50%;
      margin-top: -1px;
      display: inline-block;
      height: 2px;
      width: 10px;
      background: #8ed5ec;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden; }
    .cd-main-nav .cd-subnav-trigger::before, .cd-main-nav .go-back a::before {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .cd-main-nav .cd-subnav-trigger::after, .cd-main-nav .go-back a::after {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
  .cd-main-nav .cd-subnav-trigger::before, .cd-main-nav .cd-subnav-trigger::after {
    /* arrow goes on the right side - children navigation */
    right: 20px;
    -webkit-transform-origin: 9px 50%;
    -moz-transform-origin: 9px 50%;
    -ms-transform-origin: 9px 50%;
    -o-transform-origin: 9px 50%;
    transform-origin: 9px 50%; }
  .cd-main-nav .go-back a {
    padding-left: 2em; }
    .cd-main-nav .go-back a::before, .cd-main-nav .go-back a::after {
      /* arrow goes on the left side - go back button */
      left: 20px;
      -webkit-transform-origin: 1px 50%;
      -moz-transform-origin: 1px 50%;
      -ms-transform-origin: 1px 50%;
      -o-transform-origin: 1px 50%;
      transform-origin: 1px 50%; }
  .cd-main-nav .placeholder {
    /* never visible or clickable- it is used to take up the same space as the .cd-subnav-trigger */
    display: none; }
  @media only screen and (min-width: 1024px) {
    .cd-main-nav {
      position: static;
      visibility: visible;
      width: 100%;
      height: 80px;
      line-height: 80px;
      /* padding left = logo size + logo left position*/
      padding: 0 5% 0 calc(5% + 124px);
      background: transparent;
      text-align: right; }
      .cd-main-nav li {
        display: inline-block;
        height: 100%;
        padding: 0 .4em; }
      .cd-main-nav li a {
        display: inline-block;
        padding: .8em;
        line-height: 1;
        font-size: 1.6rem;
        border-bottom: none;
        /* Prevent .cd-subnav-trigger flicker is Safari */
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: opacity 0.2s;
        -moz-transition: opacity 0.2s;
        transition: opacity 0.2s; }
      .cd-main-nav li a:not(.cd-subnav-trigger):hover {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        opacity: .6; }
      .cd-main-nav .go-back {
        display: none; }
      .cd-main-nav .cd-subnav-trigger {
        z-index: 1;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 5em;
        -webkit-transition: border 0.3s;
        -moz-transition: border 0.3s;
        transition: border 0.3s; }
        .cd-main-nav .cd-subnav-trigger:hover {
          border-color: rgba(255, 255, 255, 0.4); }
        .cd-main-nav .cd-subnav-trigger::before, .cd-main-nav .cd-subnav-trigger::after {
          top: 22px;
          right: 17px;
          background-color: #ffffff;
          /* change transform-origin to rotate the arrow */
          -webkit-transform-origin: 50% 50%;
          -moz-transform-origin: 50% 50%;
          -ms-transform-origin: 50% 50%;
          -o-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
          -webkit-transition: -webkit-transform 0.3s, width 0.3s, right 0.3s;
          -moz-transition: -moz-transform 0.3s, width 0.3s, right 0.3s;
          transition: transform 0.3s, width 0.3s, right 0.3s; }
        .cd-main-nav .cd-subnav-trigger::before {
          right: 23px; }
      .cd-main-nav .cd-subnav-trigger, .cd-main-nav .placeholder {
        padding-right: 2.4em;
        padding-left: 1.1em; }
      .cd-main-nav li ul {
        height: 80px;
        background-color: #298AB1;
        /* padding left = logo size + logo left position*/
        padding: 0 5% 0 calc(5% + 124px);
        -webkit-transform: translateY(-80px);
        -moz-transform: translateY(-80px);
        -ms-transform: translateY(-80px);
        -o-transform: translateY(-80px);
        transform: translateY(-80px);
        -webkit-transition: -webkit-transform 0.3s 0.2s;
        -moz-transition: -moz-transform 0.3s 0.2s;
        transition: transform 0.3s 0.2s; }
      .cd-main-nav li ul li {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -o-transform: translateY(-20px);
        transform: translateY(-20px);
        -webkit-transition: -webkit-transform 0.3s 0s, opacity 0.3s 0s;
        -moz-transition: -moz-transform 0.3s 0s, opacity 0.3s 0s;
        transition: transform 0.3s 0s, opacity 0.3s 0s; }
      .cd-main-nav .placeholder {
        /* never visible or clickable- it is used to take up the same space as the .cd-subnav-trigger */
        display: block;
        visibility: hidden;
        opacity: 0;
        pointer-event: none; }
      .cd-main-nav.moves-out > li > a {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        opacity: 1; }
      .cd-main-nav.moves-out > li > ul {
        -webkit-transition: -webkit-transform 0.3s;
        -moz-transition: -moz-transform 0.3s;
        transition: transform 0.3s;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0); }
      .cd-main-nav.moves-out > li ul li {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        -webkit-transition: -webkit-transform 0.3s 0.2s, opacity 0.3s 0.2s;
        -moz-transition: -moz-transform 0.3s 0.2s, opacity 0.3s 0.2s;
        transition: transform 0.3s 0.2s, opacity 0.3s 0.2s; }
      .cd-main-nav.moves-out .cd-subnav-trigger::before, .cd-main-nav.moves-out .cd-subnav-trigger::after {
        width: 14px;
        right: 17px; }
      .cd-main-nav.moves-out .cd-subnav-trigger::before {
        -webkit-transform: rotate(225deg);
        -moz-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
        -o-transform: rotate(225deg);
        transform: rotate(225deg); }
      .cd-main-nav.moves-out .cd-subnav-trigger::after {
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg); } }

.cd-main-content::before {
  /* never visible - this is used in jQuery to check the current MQ */
  display: none;
  content: 'mobile'; }
  @media only screen and (min-width: 1024px) {
    .cd-main-content::before {
      content: 'desktop'; } }

.cd-main-content {
  position: relative;
  z-index: 2;
  min-height: 100vh;
  padding-top: 50px;
  background-color: #f2f2f2;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s; }
  .cd-main-content.nav-is-visible {
    -webkit-transform: translateX(-260px);
    -moz-transform: translateX(-260px);
    -ms-transform: translateX(-260px);
    -o-transform: translateX(-260px);
    transform: translateX(-260px); }
  @media only screen and (min-width: 1024px) {
    .cd-main-content {
      padding-top: 80px; }
      .cd-main-content.nav-is-visible {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0); } }

.no-js .cd-nav-trigger, .no-js .cd-subnav-trigger {
  display: none; }

.no-js header {
  position: relative;
  height: auto; }

.no-js .cd-logo img {
  margin-bottom: 14px; }

.no-js .cd-main-nav {
  position: static;
  width: 100%;
  height: auto;
  visibility: visible;
  overflow: visible; }
  .no-js .cd-main-nav li {
    display: inline-block; }
    .no-js .cd-main-nav li:last-child {
      display: block; }
  .no-js .cd-main-nav .go-back {
    display: none; }
  .no-js .cd-main-nav li ul {
    position: static;
    width: 100%;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }
  @media only screen and (min-width: 1024px) {
    .no-js .cd-main-nav {
      height: 80px; }
      .no-js .cd-main-nav li ul {
        position: absolute;
        top: 80px; }
      .no-js .cd-main-nav li ul li {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        opacity: 1; }
        .no-js .cd-main-nav li ul li:last-child {
          display: none; } }

.no-js .cd-main-content {
  padding-top: 0; }
  @media only screen and (min-width: 1024px) {
    .no-js .cd-main-content {
      padding-top: 80px; } }

/*# sourceMappingURL=style.css.map */
